<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!--Librerias-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <!--Styles-->
        <link rel="stylesheet" href="/css/login.css">
        
        
        <title>Mercado Libre</title>
    </head>
    
    <body>
        <header>
            <section class="header_section">
                <picture>
                    <img src="/images/logo.svg" alt="Logo">
                </picture>
                <form action="/" method="post">
                    <input type="text" name="search_bar" id="search_bar" placeholder="Buscar productos, marcas " >
                    <button type="submit" class="lupa">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <h2>
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </section>
            <section class="header_section">
                <ul class="lista">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
        
            <ul class="lista">
                <li> <a href="/register.html">
                        Creá tu cuenta
                        <i class="far fa-id-card"></i>
                    </a>
                </li>
    
                <li> <a href="/index.html">
                        Volver al Home
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                    </a>
                </li>
                
                <li> <a href="/">
                        Mis Compras
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </li>
            </ul>
            <nav class="burguer-menu">
                    <i class="fas fa-bars"></i>
            </nav>
            </section>
        </header>
            <main>
                <form action="/" method="post">
                    <fieldset>
                        <label for="userName"></label>
                        <input type="text" name="userName" id="userName" placeholder="Nombre de usuario" required>
                    </fieldset>
                    <fieldset>
                        <label for="userPassword"></label>
                        <input type="text" name="userPassword" id="userPassword" placeholder="Escriba su contraseña" required>
                    </fieldset>
                    <fieldset>
                        <button type="submit" >Ingresar</button>
                    </fieldset>
                </form>
        
            </main>
        <footer>
            <section class="section_footer">
                <article class="article_footer">
                    <i class="fa-solid fa-credit-card iconos_footer"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
                        o efectivo puntos de pago. ¡Y siempre es seguro!
                    </p>
                </article>
                <article class="article_footer">
                    <i class="fas fa-gift iconos_footer"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis
                        en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </article>
                <article class="article_footer">
                    <i class="fa-solid fa-user-shield iconos_footer"></i>
                    <h4>Seguridad de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebra no hay nada que no
                        puedas hacer porque estás siempre protegi@.
                    </p>
                </article>
                <p class="copyRight">Copyright &copy 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
    
        </footer>
    </body>
    

</html>